@font-face {
    font-family: SofiaSansSemiCondensed-Bold;
    src: url('/assets/fonts/SofiaSansSemiCondensed-Bold.ttf');
}  
body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    float: center;
    overflow: hidden;
}
.text { 
    font-size: 35px;
    line-height: 35px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    color: white;
    word-wrap: break-word;
    font-family: 'SofiaSansSemiCondensed-Bold'; 
    text-shadow: 15px 15px 15px #000000;
    margin-bottom: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}