
@font-face {
    font-family: SofiaSansSemiCondensed-Bold;
    src: url('../fonts/SofiaSansSemiCondensed-Bold.ttf');
}

body {
    font-family: SofiaSansSemiCondensed-Bold;
    margin: 0;
    padding: 0;
    background-color: #000000;
}
h1 {
    text-align: center;
    padding: 2%;
}
#error-page {
    text-align: center;
    padding: 5%;
}
#error-page h2 {
    font-size: 3em;
    color: #ffffff;
}
#error-page p {
    font-size: 1.5em;
    color: #ffffff;
}