@font-face {
    font-family: SofiaSansSemiCondensed-Bold;
    src: url('../fonts/SofiaSansSemiCondensed-Bold.ttf');
}

body {
    background-color: #333232;
    font-family: Arial;
    color: rgb(198, 198, 198);
    font-family: 'SofiaSansSemiCondensed-Bold';
    margin: 0;
    padding: 0;
}

.dashboard-collums {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: calc(1em + 50px);
    width: calc(89% - 1em);
    margin: auto;
    justify-content: center;
    padding-top: calc(1em + 30px);
}
.dashboard-collums-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: calc(1em + 50px);
    width: calc(89% - 1em);
    margin: auto;
    justify-content: center;
    padding-top: calc(1em + 30px);
}
.dashboard {
    width: calc(89% - 1em);
    margin: auto;
    justify-content: center;
    padding-top: calc(1em + 10px);
}
.dashboard-item {
    background-color: #282727;
    padding: calc(1em + 10px);
    width: calc(100% - 1em);
    margin: auto;

    
}
.bar {
    height: calc(1em + 10px);
    background-color: #181414;
    width: calc(100% - 1em);
    padding-right: 3.2em;

    
}
.bar-item {

    height: calc(1em + 5px);
    background-color: #181414;
    width: calc(100% - 1em);
    padding-right: 4.25em;
    margin-left: -25.99px;
    margin-top: -2.9em;  
}
.dashboard-item h2 {
    margin-top: 2;
}
.dashboard-item p {
    margin-bottom: 2;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: right;
    padding-left: calc(2em + 10px);
}
li a {
    display: block;
    color: rgb(198, 198, 198);
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}
li a:hover {
    color: #ffffff;
    transition: 0.3s;
}
.header-navagation {
    position: fixed;
    height:  calc(1.5% - 0.5em);
    width: calc(100% - 1em);
    top: 0;
    background-color: rgba(15, 15, 15, 0.603);
    padding: calc(1em + 10px);
}
.wrapper {

    justify-content: center;
    padding-top: calc(1em + 90px);
    margin: auto;
}
.iframe-spc {
    width: 100%;
    height: 500px;
    padding-bottom: 1em;
    overflow: auto;
    background-color: #ffffff;
    border-style: none;
    overflow: hidden;
    
}

.iframe-spc iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
.nav-btn {
    float: right;
    background-color: #00000000;
    color: #999999;
    font-family: 'SofiaSansSemiCondensed-Bold';
    border: 0px solid #ffffff4f;
}
.nav-btn:hover {
    color: #ffffff;
    font-family: 'SofiaSansSemiCondensed-Bold';
    border: 0px solid #ffffff4f;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;
}
th {
    background-color: #282727;
    color: #ffffff;
}
th, td {
    border: 1px solid #ffffff4f;
    padding: 0.5em;
    text-align: left;
}
select {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ffffff4f;
    background-color: #282727;
    color: #ffffff;
    font-family: 'SofiaSansSemiCondensed-Bold';
    font-size: calc(0.5em + 10px);
}
input[type="text"] {
    width: calc(99.9% - 1em);
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ffffff4f;
    background-color: #282727;
    color: #ffffff;
    font-family: 'SofiaSansSemiCondensed-Bold';
    font-size: calc(0.5em + 10px);
}
button {
    padding: 0.5em;
    margin-bottom: 1em;
    text-align: center;
    background-color: #282727;
    color: #ffffff;
    font-family: 'SofiaSansSemiCondensed-Bold';
    font-size: calc(0.5em + 12px);
    cursor: pointer;
    border: 1px solid #ffffff;
    border-radius: 0.5em;
    
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(15, 15, 15, 0.603);
    padding: calc(0.05em + 0.2px);
    text-align: center;
}