body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    float: center;
    overflow: hidden;
}


.text {
    font-size: 150px;
    line-height: 150px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    color: white;
    word-wrap: break-word;
    margin-bottom: 0;
    position: absolute;
    top: 35%;
    left: 0%;
    padding: 0px 5px 0 5px;
    text-shadow: 1px 1px 3px #00000069;
}