* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    color: var(--clr-light-a0);
    display: flex; align-items: center;
    justify-content: center; min-height: 100vh;
    padding: 20px; position: relative;
}

.login-logo {
    width: 150px;
}

.login-container {
    width: 100%; max-width: 420px;
    background-color: var(--clr-surface-a5); padding: 32px;
    border-radius: 16px; 
    text-align: center;
}

.input-group {
    text-align: left; margin-bottom: 18px;
}

.input-label {
    display: block; font-size: 14px;
    margin-bottom: 6px; color: var(--clr-light-a0);
}

.input-field {
    width: 100%; padding: 12px;
    border-radius: 10px; border: 1px solid var(--clr-surface-a10);
    background: var(--clr-surface-a10); color: var(--clr-light-a0);
    font-size: 15px; outline: none;
    transition: border 0.2s ease;
}

.input-field:focus {
    border-color: var(--clr-info-a10);
}

.login-button {
    width: 100%; padding: 12px;
    border: none; border-radius: 10px;
    background: var(--clr-info-a10); color: #fff;
    font-size: 16px; font-weight: 600;
    cursor: pointer; margin-top: 8px;
}

.login-button:hover {
    background: var(--clr-info-a20);
}

.extra-links {
    display: flex; flex-direction: column;
    gap: 12px; margin-top: 18px; font-size: 14px;
    color: var(--clr-light-a5);
}

.extra-links a {
    color: var(--clr-info-a10);
    text-decoration: none;
    transition: color 0.3s ease;
}

.extra-links a:hover {
    color: var(--clr-info-a20);
}