@font-face {
    font-family: SofiaSansSemiCondensed-Bold;
    src: url('../fonts/SofiaSansSemiCondensed-Bold.ttf');
}
html, body, #page {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    font-family: 'SofiaSansSemiCondensed-Bold';
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
}
#uialert {
    font-size: 21px;
    width: 500px;
    overflow: hidden;
    color: white;
    text-align: left;
}
.rectangleBase { 
    background-color: grey;
    display: block;
    position: absolute;
}
.p_boxdark { 
    background-color: rgb(164, 48, 48);
    display: block;
    position: absolute;
    transition-duration: 1s;
    overflow: hidden;
}
.p_boxlight { 
    background-color: rgb(164, 48, 48);
    display: block;
    position: absolute;
    transition-duration: 1s;
    overflow: hidden;
}
.p_boxignore { 
    background-color: rgb(164, 48, 48);
    display: block;
    position: absolute;
    transition-duration: 1s;
    overflow: hidden;
}
#alert_notification { 
    display: block;
    position: absolute;
    border-style: none;
    margin-left: 455px;
    margin-top: 520px;
    width: 1400px;
}
#alert_title { 
    font-size: 45px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    overflow: hidden;
    margin-left: 397px;
    margin-top: 894px;
    width: 1500px;
    overflow-wrap: break-word;
    font-family: 'SofiaSansSemiCondensed-Bold';
    color: white;
    text-shadow: 2px 2px 5px #000000;
}
#alert_description { 
    font-size: 22px;
    position: absolute;
    text-align: center;
    overflow: hidden;
    margin-left: 397px;
    margin-top: 963px;
    width: 1500px;
    overflow-wrap: break-word;
    font-family: 'SofiaSansSemiCondensed-Bold';
    color: rgb(255, 255, 255);
}
#time{
    font-size: 35px;
    position: absolute;
    text-align: center;
    overflow: hidden;
    margin-left: -650px;
    margin-top: 970px;
    color: white;
    width: 1500px;
    overflow-wrap: break-word;
    font-family: 'SofiaSansSemiCondensed-Bold'; 
    font-weight : bold;
    text-shadow: 2px 2px 5px #000000;
}
#date{
    font-size: 35px;
    position: absolute;
    text-align: center;
    overflow: hidden;
    margin-left: -650px;
    margin-top: 930px;
    color: white;
    width: 1500px;
    overflow-wrap: break-word;
    font-family: 'SofiaSansSemiCondensed-Bold'; 
    font-weight : bold;
    text-shadow: 2px 2px 5px #000000;
}
#total_warnings{
    font-size: 30px;
    font-weight : bold;
    position: absolute;
    text-align: center;
    overflow: hidden;
    margin-left: -522px;
    margin-top: 50px;
    color: white;
    width: 1500px;
    overflow-wrap: break-word;
    font-family: 'SofiaSansSemiCondensed-Bold'; 
    text-shadow: 2px 2px 15px #000000;
    transform: translateY(-50%); /* Adjusts the vertical position */
}
#random_alert_location{
    font-size: 30px;
    position: absolute;
    text-align: left;
    overflow: hidden;
    margin-left: 470px;
    margin-top: 1025px;
    color: white;
    width: 1400px;
    overflow-wrap: break-word;
    font-family: 'SofiaSansSemiCondensed-Bold'; 
    text-shadow: 2px 2px 15px #000000;
}
#random_alert_title{
    margin-top: 1023px;
    font-size: 30px;
    position: absolute;
    text-align: center;
    overflow: hidden;
    color: white;
    width: 450px;
    height: 90px;
    word-wrap: break-word;
    font-family: 'SofiaSansSemiCondensed-Bold'; 
    text-shadow: 2px 2px 5px #000000;
}
#random_alert_expires{
    font-size: 23px;
    position: absolute;
    font-weight : bold;
    text-align: center;
    overflow: hidden;
    margin-left: 183px;
    margin-top: 975px;
    color: rgb(0, 0, 0);
    width: 290px;
    height: 100px;
    word-wrap: break-word;
    font-family: 'SofiaSansSemiCondensed-Bold'; 
}
#notification_title {
    font-size: 35px;
    font-weight : bold;
    text-align: center;
    overflow: hidden;
    color: white;
    font-family: 'SofiaSansSemiCondensed-Bold'; 
    text-shadow: 2px 2px 15px #000000;

}
#notification_subtitle {
    font-size: 25px;
    text-align: center;
    overflow: hidden;
    color: white;
    overflow-wrap: break-word;
    font-family: 'SofiaSansSemiCondensed-Bold'; 
    text-shadow: 2px 2px 15px #000000;
}
@keyframes fade {
    0% {opacity: 0;}
    40% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes upToFadeOutAniamtion {
    0% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(-10px); opacity: 0; }
}
@keyframes upToFadeInAniamtion {
    0% { transform: translateY(30px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}
@keyframes opacity100Animation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes opacity0Animation {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
