@font-face {
    font-family: SofiaSansSemiCondensed-Bold;
    src: url('/assets/fonts/SofiaSansSemiCondensed-Bold.ttf');
}  
body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    float: center;
    overflow: hidden;
}
.text { 
    font-size: 30px;
    line-height: 5px;
    text-align: left;
    color: white;
    font-family: 'SofiaSansSemiCondensed-Bold'; 
    text-shadow: 5px 5px 15px #000000;
    margin-bottom: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
