body, html { margin: 0;  background-color: #191A1A; padding: 0}

.widgets-custom-popup .mapboxgl-popup-content { width: 400px; background-color: rgba(0, 0, 0, 0.85); color: #f0f0f0; padding: 10px 15px; font-size: 17px; font-family: SofiaSansSemiCondensed-Bold; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);}
.widgets-custom-popup .mapboxgl-popup-content a { margin: 5px 0 0 0; line-height: 1.5; color: #dcdcdc;}
.widgets-custom-popup .mapboxgl-popup-close-button { font-size: 16px; color: #ffffff; background-color: transparent; border: none; cursor: pointer; position: absolute; top: 5px; right: 5px; width: 25px; height: 25px; border-radius: 50%;}
.widgets-custom-popup .mapboxgl-popup-close-button:hover { background-color: rgba(255, 0, 0, 0.512); }



.mapbox-container {
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.stations { 
    background-color: rgba(0, 0, 0, 0.84);
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}