@font-face {
    font-family: SofiaSansSemiCondensed-Bold;
    src: url('/assets/fonts/SofiaSansSemiCondensed-Bold.ttf');
}  
body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    float: center;
    overflow: hidden;
}
.text1 { 
    font-size: 60px; font-weight: bold;
    position: absolute; text-align: center;
    overflow: hidden; 
    margin-left: -50px; margin-top: 90px;
    width: 1500px;
    overflow-wrap: break-word; font-family: 'SofiaSansSemiCondensed-Bold';
    color: white; text-shadow: 2px 2px 5px #000000;
}
.text2 { 
    font-size: 30px; position: absolute;
    text-align: center; overflow: hidden;
    margin-left: -50px; margin-top: 200px;
    width: 1500px; overflow-wrap: break-word;
    font-family: 'SofiaSansSemiCondensed-Bold';
    color: rgb(255, 255, 255);
}