body, html { 
    background-color: rgba(0, 0, 0, 0); 
    margin: 0; 
    float: center; 
    overflow: hidden;
}

.alert-box {
    display: none;
    background: linear-gradient(to bottom, #282bc5, #df0e0e);
    border-radius: 8px;
    color: white;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.973);
    position: absolute;
    width: 100%;
    top: 50%;
    left: 80%;
    margin-top: -50px;
    margin-left: -50%;
}
.alert-header {
    background: rgba(0, 0, 0, 0.863);
    text-align: left;
    font-size: 1.9em;
    font-weight: bold;
    padding: 16px;
}
.alert-body {
    background: rgba(0, 0, 0, 0.1);
}
.row-light {
    background: rgba(0, 0, 0, 0.247);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 16px;
    box-sizing: border-box;
}
.row-dark {
    background: rgba(0, 0, 0, 0.438);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 16px;
    box-sizing: border-box;
}
.left, .right {
    display: flex;
    align-items: center;
    gap: 6px;
}

.alert-icon {
    width: 200px;
    height: 200px;
}