@font-face {
    font-family: SofiaSansSemiCondensed-Bold;
    src: url('/assets/fonts/SofiaSansSemiCondensed-Bold.ttf');
}  

* {
    font-family: "SofiaSansSemiCondensed-Bold", Arial, sans-serif;
}

.p_boxdark { 
    background-color: rgba(28,61,181);
    display: block;
    width: 100%;
    transition-duration: 1s;
    overflow: hidden;
}
.p_boxlight { 
    background-color: rgba(42,81,224);
    display: block;
    width: 100%;
    transition-duration: 1s;
    overflow: hidden;
}

.notification { 
    position: fixed;
    top: 20px;
    left: 38%;
    transform: translateX(-50%);
    background-color: rgba(32, 32, 32, 0.831);
    color: #fff;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.89);
    transition: transform 0.4s ease, opacity 0.4s ease;
    opacity: 0;
    transform: translateY(-50px);
    z-index: 10000;
    width: 500px;
    text-align: center;
    font-size: 14px;
    border: #ffffff42;
    border-style: solid;
    border-width: 1px;
}

@keyframes fade {
    0% {opacity: 0;}
    40% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes fadeOutUp {
    0% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(-10px); opacity: 0; }
}
@keyframes fadeInDown {
    0% { transform: translateY(30px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}