html, body, #page {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: rgba(0, 128, 0, 0);
}
#header {
    margin:0;
    padding:0;
    height:20px;
    background-color:green;
}


.rectangleBase { 
    background-color: grey;
    display: block;
    position: absolute;
}

.defaultBox { 
    background-color: rgb(164, 48, 48);
    display: block;
    position: absolute;
    transition-duration: 1s;
}

.defaultBoxLight { 
    background-color: rgb(164, 48, 48);
    display: block;
    position: absolute;
    transition-duration: 1s;
}
.defaultBoxIgnore { 
    background-color: rgb(164, 48, 48);
    display: block;
    position: absolute;
    transition-duration: 1s;
}

#gif_notification { 
    display: block;
    position: absolute;
    border-style: none;
    margin-left: 405px;
    margin-top: 500px;
    width: 1500px;
}
#notification_title_event { 
    font-size: 45px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    overflow: hidden;
    margin-left: 397px;
    margin-top: 870px;
    width: 1500px;
    overflow-wrap: break-word;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#notification_subtitle_event { 
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    overflow: hidden;
    margin-left: 397px;
    margin-top: 960px;
    width: 1500px;
    overflow-wrap: break-word;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#time{
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    overflow: hidden;
    margin-left: -666px;
    margin-top: 815px;
    color: white;
    width: 1500px;
    overflow-wrap: break-word;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

#date{
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    overflow: hidden;
    margin-left: -665px;
    margin-top: 775px;
    color: white;
    width: 1500px;
    overflow-wrap: break-word;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

#total_warnings{
    font-size: 43px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    overflow: hidden;
    margin-left: -520px;
    margin-top: -25px;
    color: white;
    width: 1500px;
    overflow-wrap: break-word;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

#random_alert{
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    text-align: left;
    overflow: hidden;
    margin-left: 470px;
    margin-top: 994px;
    color: white;
    width: 1400px;
    overflow-wrap: break-word;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}


#random_alert_topic{
    font-size: 21px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    overflow: hidden;
    margin-left: 200px;
    margin-top: 1000px;
    color: white;
    width: 220px;
    height: 100px;
    word-wrap: break-word;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
#random_alert_topic_expire{
    font-size: 21px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    overflow: hidden;
    margin-left: 169px;
    margin-top: 968px;
    color: rgb(0, 0, 0);
    width: 290px;
    height: 100px;
    word-wrap: break-word;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}